html {
	height: 100%;
}

body {
	font-family: "andale mono";
	/*background-image: url(turing.jpg);*/
	background: #626351;
	position: fixed;
	top: 0px;
	width:100%;
	height: 100%;
	background-position: 500px 0px;
}

.formfield {
	width: 60%;
	height: 100%;
	background-color: whitesmoke;
	float: left;
	position: absolute;
	z-index: 4;
	top: 0px;
	padding-top: 100px;
	padding-left: 10%;
	left: 0px;
	opacity: 0.9;
}

.portrait {
	position: fixed;
	top: 0px;
	right: -100px;
	z-index: 1;

}

.screen {
	position: fixed;
	top: 0px;
	right: -100px;
	z-index: 3;

}

.recaptchatable #recaptcha_response_field {
	font-family: "andale mono";
	font-size: 12px!important;
}

.recaptchatable .recaptcha_image_cell{
	background-color: whitesmoke!important;
}

#recaptchaButton {
	margin-top: 20px;
	font-family: "andale mono";
	font-size: 12px!important;
}

p {
	font-size: 13px;
	padding-bottom: 50px;
}

.mask {
	width: 410px;
	height: auto;
	position: fixed;
	right: 110px;
	top: 200px;
	z-index: 2;
	opacity: 0.7;
}

.mask img {
	width: 410px;
	height: 75px;
	border-bottom-color:white!important;
	border-top-color:none!important;
	margin-right: 10%;
	margin-bottom: -3px;
}


#captchaStatus {
	padding-top: 20px;
	font-size: 13px;
}

#story {
	margin-top: 60px;
	width: auto;
	font-family: "andale mono";
	font-size: 13px!important;

}

#story div {
	width: auto;
	height: auto;
	margin-bottom: 30px;
}

#err {
	padding-top: 50px;
	font-size: 13px;
}
