body {
	font-family: "andale mono";
	background-color: ghostwhite;
}

input {
	font-family: "andale mono" !important;
}

h1 {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

#stanza {

	position: absolute; 
	top: 140px;
	width: 290px;
	margin-left: 50%;
	left: -145px;
}

#captcha {
	width: 290px;
	height: 80px;
	position: absolute; 
	top: 60px;
}

#instruct {
	font-size: 10px;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0px;
}

#uword {
	font-family: "andale mono";
	position: absolute;
	top: 160px;
	left: 65px;
	text-align: center;
}

#submit {
	font-family: "andale mono";
	position: absolute;
	top: 200px;
	left: 115px;
}

#poem {

	display: none;
	position: absolute; 
	top: 100px;
	width: 290px;
	margin-left: 50%;
	left: -145px;
}

#poem img {

	background-color: royalblue;
	width: 290px;
	height: 80px;
	margin-bottom: 10px;
}
